<header>
  <main>
    <img src="/assets/logo.png" alt="Mercado Livre">
    <img id="small" src="/assets/logo-small.png" alt="Mercado Livre">
  
    <form>
      <input type="text" placeholder="Buscar produtos, marcas e muito mais...">
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  
    <div>
      <a href="/">
        <i class="fa fa-bars"></i>
      </a>
      <a href="/">
        <i class="fa fa-shopping-cart"></i>
      </a>
    </div>

    <img src="/assets/text.png" alt="Aproveite preços incríveis todos os dias">
  </main>

  <section>
    <div></div>

    <nav>
      <a href="/">Categorias</a>
      <a href="/">Ofertas do dia</a>
      <a href="/">Histórico</a>
      <a href="/">Supermercado</a>
      <a href="/">Lojas oficiais</a>
      <a href="/">Vender</a>
      <a href="/">Contato</a>
    </nav>

    <main>
      <a href="/">Crie a sua conta</a>
      <a href="/">Entre</a>
      <a href="/">Compras</a>
      <a href="/"><i class="fa fa-shopping-cart"></i></a>
    </main>
  </section>
</header>